<section id="write" class="wrapper">
  <div class="inner alt">
    <header class="major">
      <h2>Edit Pofols</h2>
    </header>
    <%= "Editing #{@post.title}" %>
    <%= render "form" %>
  </div>
</section>